$color-yellow: rgb(178, 148, 17);

#landing {
  height: 100vh;
  width: 100%;
  //
  color: white;
  z-index: -2;
  // .down-arrow {
  //   color: $color-yellow;
  //   font-size: 120px;
  //   position: relative;
  //   //top: 90vh;
  //   z-index: 2;
  // }
  .background-div {
    z-index: 3;
    position: absolute;
    background-color: rgb(50,56,64);
    opacity: 0;
    height: 100vh;
    width: 100%;
    margin-left: -15px;
  }

  .iron-image-container {
    position: absolute;

    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    //
    // overflow: hidden;
    .iron-image-preload {
      z-index: 0;
      position: absolute;
      //background: url(../background_image_preload.jpg) no-repeat center center fixed;
      //height: 100vh;
      // width: 100%;
      //z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      //background-size: cover;
    }
    .iron-image-loaded {
      // background: url(../background-image.jpg) no-repeat center center fixed;
      position: absolute;
      // background-attachment: scroll;
      //height: 100%;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      //background-size: cover;

      opacity: 0;

      transition: opacity 1s ease;
    }

    .iron-image-fade-in {
      opacity: 1;
    }
  }


  // .background-image-div {
  //   z-index: 0;
  //   position: absolute;
  //   margin-left: -15px;
  //   height: 100vh;
  //
  //   //background: url(../background-image.jpg) no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   width: 100%;
  // }

  a:hover, a:visited, a:link, a:active{
    text-decoration: none;
  }
  .landing-content{
    z-index: 1000;
    position: relative;
    width: 60%;
    h5 {
      margin-bottom: 15px;
      font-weight: bold;
    }
    .center-content {
      //max-width: 400px;
      //color: $color-yellow;
      .intro{
        h4 {
          font-weight: bold;
        }
        h1 {
          color: $color-yellow;
          font-weight: bold;
          //text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        }
        // margin-left: auto;
        // margin-right: auto;
        hr {
          background: white;
          width: 10%;
          float: left;
          //position: absolute;
          height: 3px;
          top: 80px;
        }
      }


    }
    .intro {
      position: relative;
    }
    // .homepage-button{
    //   margin-top: 25px;
    //   display: block;
    //   color: white;
    //   border: 2px solid white;
    //   width: 200px;
    //   margin-left: auto;
    //   margin-right: auto;
    //   cursor: pointer;
    //   padding: 10px 25px;
    //   transition: all .25s ease-out;
    //   &:hover {
    //
    //     color: white;
    //     background: rgb(178, 148, 17);
    //     border-color: rgb(178, 148, 17);
    //   }
    // }
    //
    // .homepage-button{
    //   cursor: pointer;
    //   display: inline-block;
    //   position: relative;
    //   transition: 0.5s;
    // }
    //
    // .homepage-button:after {
    //   font-family: 'Material Icons';
    //   font-size: 20px;
    //   content: "chevron_right";
    //   -webkit-font-feature-settings: 'liga';
    //   position: absolute;
    //   opacity: 0;
    //   top: 8px;
    //   right: -5px;
    //   transition: 0.5s;
    //   transform: rotate(90deg);
    // }
    //
    // .homepage-button:hover{
    //   padding-right: 24px;
    //   padding-left:8px;
    // }
    //
    // .homepage-button:hover:after {
    //   opacity: 1;
    //   right: 10px;
    // }

  }
}
