#portfolio {
  padding-top: 55px;
  height: 100%;
  background: lightgrey;
  .projects {
    margin-top: 45px;
    margin-bottom: 40px;
    .project {
      position: relative;
      margin-bottom: 35px;
      .project-info {
        margin-left: 55px;
      }
      .card {
        overflow: hidden;
        border-radius: 15%;
        max-height: 200px;
        max-width: 200px;
        .aop {
          height: 200px;
          width: 200px;
        }
        .utility-radar {
          width: 200px;
          height: 200px;
        }

      }
    }
  }
}
