@import "home";
@import "about";
@import "portfolio";
@import "contact";
@import "header";

body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

.invisible {
  color: white;
}

.bring-down {

  position: absolute;
  top: 100vh;
}
.everything-else-header {
  //animation: popDown .5s;
  position: fixed;
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




@media (max-width: 375px) {
  .profile-pic {
    transform: scale(.8,.8);
  }
}




//queries
