@import "home";
@import "about";
@import "portfolio";
@import "contact";
@import "header";
@import "testimonials";

body{

  margin:0;
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size:1.2rem;
  font-weight:normal;
  line-height:1.5;
  color:grey;
  overflow-x:hidden;
}



.bring-down {
  position: absolute;
  top: 100vh;
}

.everything-else-header {
  position: fixed;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px){
  body {
    font-size: 1rem;
  }
  #portfolio {
    .projects {
      .project {
        .card {
          .carousel-inner {
            height: 280px;
          }
        }
      }
    }
  }
  // #testimonials {
  //   font-size: .3rem;
  // }
}
@media (max-width: 992px){
  #landing {
    .landing-content {
      width: 80%;
    }
  }
  #portfolio {
    .projects {
      .project {
        .card {
          .carousel-inner {
            height: 480px;
          }

        }
      }
    }
  }
  #contact {
    .form-reviews {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}


@media (max-width: 767px){
  header {
    .header-logo {
      left: 10px;
    }
  }
  #portfolio {
    .projects {
      .project {
        .card {
          .carousel-inner {
            //height: 100%;
            height: 320px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  // .profile-pic {
  //   transform: scale(.8,.8);
  // }
  #portfolio {
    .projects {
      .project {
        .card {
          .carousel-inner {
            height: 280px;
          }
        }
      }
    }
  }
  #testimonials {
    #reviewCarousel {
      // .carousel {
        margin-left: 1vw;
        margin-right: 1vw;
      // }
      h4 {
        font-size: 1.1rem;
      }
    }
  }
}
@media (max-width: 375px) {
  #portfolio {
    .projects {
      .project {
        .card {
          .carousel-inner{
            height: 230px;
          }
        }
      }
    }
  }

}




//queries
