#landing {
  height: 100vh;
  width: 100%;
  color: white;
  z-index: -2; }
  #landing .background-div {
    z-index: 3;
    position: absolute;
    background-color: #323840;
    opacity: 0;
    height: 100vh;
    width: 100%;
    margin-left: -15px; }
  #landing .iron-image-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0; }
    #landing .iron-image-container .iron-image-preload {
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    #landing .iron-image-container .iron-image-loaded {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: opacity 1s ease; }
    #landing .iron-image-container .iron-image-fade-in {
      opacity: 1; }
  #landing a:hover, #landing a:visited, #landing a:link, #landing a:active {
    text-decoration: none; }
  #landing .landing-content {
    z-index: 1000;
    position: relative;
    width: 60%; }
    #landing .landing-content h5 {
      margin-bottom: 15px;
      font-weight: bold; }
    #landing .landing-content .center-content .intro h4 {
      font-weight: bold; }
    #landing .landing-content .center-content .intro h1 {
      color: #b29411;
      font-weight: bold; }
    #landing .landing-content .center-content .intro hr {
      background: white;
      width: 10%;
      float: left;
      height: 3px;
      top: 80px; }
    #landing .landing-content .intro {
      position: relative; }

#about {
  padding-top: 55px;
  padding-bottom: 55px; }
  #about .about-container {
    margin-left: 8vw;
    margin-right: 8vw; }
  #about h1 {
    margin-top: 50px;
    color: black;
    font-weight: bold; }
  #about h1 {
    overflow: hidden;
    text-align: center; }
  #about h1:before,
  #about h1:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%; }
  #about h1:before {
    right: 0.5em;
    margin-left: -50%; }
  #about h1:after {
    left: 0.5em;
    margin-right: -50%; }
  #about h4 {
    font-weight: bold; }
  #about .icon-section {
    position: relative;
    margin-bottom: 70px;
    margin-top: 70px; }
    #about .icon-section .material-icons {
      color: #323840;
      font-size: 120px; }
  #about img {
    max-height: 270px; }
  #about .stats {
    position: relative;
    margin-bottom: 50px; }
    #about .stats .skill-border p {
      margin-bottom: 0; }
    #about .stats .skill-border .progress {
      height: 18px;
      position: relative; }
      #about .stats .skill-border .progress .progress-bar {
        animation: progress 1.5s ease-in-out forwards;
        -webkit-animation: progress 1.5s ease-in-out forwards;
        height: 20px;
        background: #b29411 !important; }
        #about .stats .skill-border .progress .progress-bar .title {
          opacity: 0;
          animation: show 0.35s forwards ease-in-out 0.5s; }

@keyframes progress {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      #about .stats .skill-border .progress .title {
        padding: 1px; }

#portfolio {
  padding-top: 55px;
  position: relative; }
  #portfolio h1 {
    overflow: hidden;
    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 40px; }
  #portfolio h1:before,
  #portfolio h1:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%; }
  #portfolio h1:before {
    right: 0.5em;
    margin-left: -50%; }
  #portfolio h1:after {
    left: 0.5em;
    margin-right: -50%; }
  #portfolio h5, #portfolio h4 {
    font-weight: bold; }
  #portfolio .projects .left-arrow {
    position: absolute;
    font-size: 84px;
    bottom: 32px;
    left: 19px; }
  #portfolio .projects .right-arrow {
    position: absolute;
    font-size: 84px;
    bottom: 32px;
    right: 19px; }
  #portfolio .projects .project-info {
    margin-left: 20px;
    margin-right: 60px; }
    #portfolio .projects .project-info .nnsa-icon {
      height: 60px;
      padding-right: 10px;
      padding-left: 15px; }
    #portfolio .projects .project-info .bellawatt-icon {
      height: 55px;
      padding-right: 10px;
      padding-left: 15px; }
    #portfolio .projects .project-info .utility-icon {
      position: relative;
      top: -4px;
      height: 70px;
      padding-right: 10px;
      padding-left: 15px; }
  #portfolio .projects .slick-prev {
    left: 4px; }
  #portfolio .projects .slick-next {
    right: 20px; }
  #portfolio .projects .slick-slider .carousel {
    border: 1px solid black;
    height: calc(50vw * .7);
    overflow: hidden; }
    #portfolio .projects .slick-slider .carousel .carousel-inner {
      overflow: hidden;
      position: absolute; }
      #portfolio .projects .slick-slider .carousel .carousel-inner .carousel-item .image {
        width: 100%;
        height: 100%; }
    #portfolio .projects .slick-slider .carousel .arrow-left {
      position: absolute;
      left: 0;
      font-size: 30px;
      background-color: grey;
      transition: .2s ease-in-out; }
      #portfolio .projects .slick-slider .carousel .arrow-left:hover {
        color: #b29411; }
    #portfolio .projects .slick-slider .carousel .arrow-right {
      position: absolute;
      right: 0;
      font-size: 30px;
      background-color: grey;
      transition: .2s ease-in-out; }
      #portfolio .projects .slick-slider .carousel .arrow-right:hover {
        color: #b29411; }
  #portfolio .projects .slick-slider .slick-thumb {
    margin-top: 45px; }
    #portfolio .projects .slick-slider .slick-thumb li {
      height: 90px;
      width: 90px; }
      #portfolio .projects .slick-slider .slick-thumb li:last-child {
        height: 0px;
        width: 0px; }
      #portfolio .projects .slick-slider .slick-thumb li .nnsa-icon {
        height: 85px; }
      #portfolio .projects .slick-slider .slick-thumb li .bellawatt-icon {
        height: 75px; }
      #portfolio .projects .slick-slider .slick-thumb li .utility-icon {
        height: 100px; }
  #portfolio .projects .slick-slider .slick-dots {
    position: relative;
    bottom: 22px; }

#contact {
  background: #f5f5f5;
  height: 100%;
  position: relative; }
  #contact .background-image {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../citypic.jpg) no-repeat center center fixed;
    height: 100%; }
  #contact h1 {
    padding-top: 55px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
    color: black;
    font-weight: bold; }
  #contact h1:before,
  #contact h1:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%; }
  #contact h1:before {
    right: 0.5em;
    margin-left: -50%; }
  #contact h1:after {
    left: 0.5em;
    margin-right: -50%; }
  #contact h5 {
    font-weight: bold; }
  #contact .form-reviews {
    margin-top: 11vh;
    margin-bottom: 11vh; }
    #contact .form-reviews .feedback {
      padding: 15px; }
    #contact .form-reviews p {
      color: #b29411; }
  #contact .social-media-icons {
    position: relative; }
    #contact .social-media-icons .icon svg {
      color: #323840;
      height: 80px;
      transition: .2s ease-out; }
      #contact .social-media-icons .icon svg:hover {
        transform: scale(1.1, 1.1); }

header {
  z-index: 1001;
  width: 100%;
  background: #323840;
  min-height: 55px; }
  header .header-logo {
    display: inline-flex;
    position: absolute;
    color: white;
    right: 5px;
    top: 12px; }
    header .header-logo .yellow {
      color: #b29411; }
  header .navbar-toggler:focus {
    outline: none; }
  header .navbar-toggler-icon {
    width: 35px;
    position: relative;
    left: 15px; }
    header .navbar-toggler-icon span {
      background-color: white;
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 9px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      header .navbar-toggler-icon span:nth-child(1) {
        top: 0px; }
      header .navbar-toggler-icon span:nth-child(2) {
        top: 12px; }
      header .navbar-toggler-icon span:nth-child(3) {
        top: 24px; }
    header .navbar-toggler-icon:hover span {
      background-color: #b29411; }
  header .open {
    width: 35px;
    position: relative;
    left: 15px; }
    header .open span {
      background-color: white;
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 9px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      header .open span:nth-child(1) {
        top: 12px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }
      header .open span:nth-child(2) {
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
        left: -20px; }
      header .open span:nth-child(3) {
        top: 12px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    header .open:hover span {
      background-color: #b29411; }
  header ul li {
    padding-right: 15px;
    color: white;
    transition: all .25s ease-out; }
    header ul li p {
      margin-bottom: 0rem; }
    header ul li:hover {
      color: #b29411; }
    header ul li .active {
      color: #b29411; }
  header hr {
    position: absolute;
    top: 41px;
    height: .25rem;
    width: 79px;
    margin: 0;
    left: 0;
    background: #b29411;
    border: none;
    transition: .3s ease-in-out; }

#testimonials {
  position: relative; }
  #testimonials .content {
    z-index: 40;
    color: white;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0; }
    #testimonials .content .carousel {
      margin-left: 20vw;
      margin-right: 20vw;
      height: 410px; }
      #testimonials .content .carousel .carousel-indicators li {
        max-width: 8px;
        border-radius: 100%;
        height: 8px;
        margin-right: 7px;
        margin-left: 7px; }
      #testimonials .content .carousel .carousel-inner .carousel-item {
        height: 375px;
        /* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */ }
        #testimonials .content .carousel .carousel-inner .carousel-item .column {
          display: flex;
          flex-direction: column;
          justify-content: center; }
        #testimonials .content .carousel .carousel-inner .carousel-item blockquote {
          position: relative;
          margin: 0.5em;
          padding: 0.5em 2em 0.5em 3em; }
        #testimonials .content .carousel .carousel-inner .carousel-item blockquote:before {
          font-family: Georgia, serif;
          position: absolute;
          color: #b29411;
          font-size: 6em;
          line-height: 1;
          top: 0;
          left: 0;
          content: "\201C"; }
        #testimonials .content .carousel .carousel-inner .carousel-item blockquote:after {
          font-family: Georgia, serif;
          position: absolute;
          color: #b29411;
          /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
          float: right;
          font-size: 6em;
          line-height: 1;
          right: 0;
          bottom: -0.5em;
          content: "\201D"; }
  #testimonials .background-opacity {
    z-index: 3;
    background: #323840;
    opacity: .5;
    height: 500px;
    position: absolute;
    width: 100%;
    top: 0; }
  #testimonials .iron-image-container .iron-image-preload {
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #testimonials .iron-image-container .iron-image-loaded {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease; }
  #testimonials .iron-image-container .iron-image-fade-in {
    opacity: 1; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5;
  color: grey;
  overflow-x: hidden; }

.bring-down {
  position: absolute;
  top: 100vh; }

.everything-else-header {
  position: fixed; }

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (max-width: 1200px) {
  body {
    font-size: 1rem; }
  #portfolio .projects .slick-slider .carousel {
    height: calc(50vw * .7); } }

@media (max-width: 992px) {
  #landing .landing-content {
    width: 80%; }
  #portfolio .projects .slick-slider .carousel {
    margin-bottom: 25px;
    height: calc(90vw * .65); }
  #contact .form-reviews {
    margin-top: 0px;
    margin-bottom: 0px; }
  #testimonials #reviewCarousel {
    margin-left: 10vw;
    margin-right: 10vw; } }

@media (max-width: 767px) {
  header .header-logo {
    left: 10px; }
  #testimonials #reviewCarousel {
    margin-left: 5vw;
    margin-right: 5vw; }
    #testimonials #reviewCarousel h4 {
      font-size: 1.2rem; } }

@media (max-width: 500px) {
  #testimonials #reviewCarousel {
    margin-left: 1vw;
    margin-right: 1vw; }
    #testimonials #reviewCarousel h4 {
      font-size: 1.2rem; } }

@media (max-width: 375px) {
  #testimonials #reviewCarousel {
    margin-left: 1vw;
    margin-right: 1vw; }
    #testimonials #reviewCarousel h4 {
      font-size: 1.1rem; } }
